@model ProductListVM
 
@{
    int slNo = 0;
}

<div class="container w-11/12 mx-auto">

    <h4 class='text-lg font-bold my-5'>Product List</h4>
    
    <div class="my-2">
        <form method="get" class="flex mx-2">
            <div class="">
                <label asp-for="ProductSearchCriteria.Name">Name</label>
                <input type="text" class="block mt-2 w-6/12 rounded-md border-0 py-1.5 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 outline-none" asp-for="ProductSearchCriteria.Name" placeholder="Name">
            </div>
            <div class="">
                <label asp-for="ProductSearchCriteria.Price">Price</label>
                <input type="text" class="block mt-2 w-6/12 rounded-md border-0 py-1.5 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 outline-none" asp-for="ProductSearchCriteria.Price" placeholder="Price">
            </div>
            <div class="">
                <label asp-for="ProductSearchCriteria.Quantity">Quantity</label>
                <input type="text" class="block mt-2 w-6/12 rounded-md border-0 py-1.5 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 outline-none" asp-for="ProductSearchCriteria.Quantity" placeholder="Quantity">
            </div>
            <div class="">
                <label asp-for="ProductSearchCriteria.ProductCategoryID">Product Category</label>
                <select asp-items="Model.ProductCategoryList" asp-for="ProductSearchCriteria.ProductCategoryID">
                    <option value="">Select ...</option>
                </select>
            </div>
            
            
            <div class="">
                <input type="submit" class="btn btn-primary" value="Search" />
            </div>

        </form>
    </div>
    <a asp-action="Create" class="bg-blue-500 text-white my-2 p-2 rounded">Add New </a>

    <div class="flex flex-col">
        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
                <div class="overflow-hidden">
                    @if (Model.ProductList == null || !Model.ProductList.Any())
                    {
                        <p>No Category Found</p>
                    }
                    else
                    {
                        <table class="min-w-full text-left text-sm font-light">
                            <thead class="border-b font-medium dark:border-neutral-500">
                                <tr>
                                    <th scope="col" class="px-6 py-4">#</th>
                                    <th scope="col" class="px-6 py-4">Name</th>
                                    <th scope="col" class="px-6 py-4">Price</th>
                                    <th scope="col" class="px-6 py-4">Quantity</th>
                                    <th scope="col" class="px-6 py-4">Category</th>
                                    <th scope="col" class="px-6 py-4">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var product in Model.ProductList)
                                {
                                    <tr class="border-b dark:border-neutral-500">
                                        <td class="whitespace-nowrap px-6 py-4 font-medium">@(++slNo)</td>
                                        <td class="whitespace-nowrap px-6 py-4">@product.Name</td>
                                        <td class="whitespace-nowrap px-6 py-4">@product.Price</td>
                                        <td class="whitespace-nowrap px-6 py-4">@product.Quantity</td>
                                        <td class="whitespace-nowrap px-6 py-4">@product.ProductCategoryName</td>

                                        <td class="whitespace-nowrap px-6 py-4"> <a class="bg-blue-500 text-white px-3 py-1 rounded" asp-action="View" asp-route-id="@product.ProductID">View</a> | <a class="bg-green-600 text-white px-3 py-1 rounded" asp-action="Edit" asp-route-id="@product.ProductID">Edit</a>  | <a class="bg-red-600 text-white px-3 py-1 rounded" asp-action="Delete" asp-route-id="@product.ProductID">Remove</a> </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>


</div>