@model ProductViewVM
<section clase="w-3/4 mx-auto">
    <h4 class="mt-10 text-2xl font-bold leading-9 tracking-tight text-gray-900">Product</h4>
    <div>
        <div class="mt-10 flex">
            <div class="mr-2">
                <label>Name:</label>
            </div>
            <div>
                <p>@Model.Name</p>
            </div>
        </div>
        <div class="mt-10 flex">
            <div class="mr-2">
                <label>Price:</label>
            </div>
            <div class="mr-2">
                <p>@Model.Price</p>
            </div>
        </div>
        <div class="mt-10 flex">
            <div class="mr-2">
                <label>Quantity:</label>
            </div>
            <div class="mr-2">
                <p>@Model.Quantity</p>
            </div>
        </div>
        <div class="mt-10 flex">
            <div class="mr-2">
                <label>Category Name:</label>
            </div>
            <div class="mr-2">
                <p>@Model.ProductCategoryName</p>
            </div>
        </div>
        <div class="mt-10 flex">
            <div class="mr-2">
                <label>Category Code:</label>
            </div>
            <div class="mr-2">
                <p>@Model.ProductCategoryCode</p>
            </div>
        </div>
    </div>


    @if (ViewBag.Error != null)
    {
        <h6>@ViewBag.Error</h6>
    }

</section>
